/* Chrome, Safari, Opera */
@include keyframes(animations-electropop) {
  0%, 100% { 
    @include opacity(0); 
    @include background-image(image-url('blue04.png'));
    width: 0%;
  }
  5% { 
    @include opacity(0.6);
    width: 25%; 
  }
  10% { 
    @include opacity(1);
    width: 75%;
  }
  15% { 
    width: 100%; 
  }
  30% { 
    @include background-image(image-url('blue04.png')); 
  }
  33% {
    @include opacity(0);
  }
  36% {
    @include opacity(1);
  }
  45% {
    @include background-image(image-url('indigo04.png'));
    @include opacity(1);
  }
  48% {
    @include opacity(0);
  }
  51% {
    @include opacity(1);
  }
  60% {
    @include opacity(1);
    @include background-image(image-url('teal04.png')); 
  }
  65% { 
    @include opacity(0.6);
  }
  70% {
    @include opacity(0.2);
  }
  75% {
    @include opacity(0); 
    width: 100%; 
  }
  90% {
    @include opacity(0); 
    width: 0%;  
  }
}
