@mixin templates-components-spin-wheel {
  .shown {
    visibility: visible;
  }
  .hidden {
    visibility: none;
  }
  .wheel {
    @include display-box;
    @include box-orient(horizontal);
    @include box-align(center);
    display: flex;
    justify-content: space-around;
  }
  .wheel-spoke {
    i {
      @extend .fa-3x;
    }
  }
}