@mixin templates-card {
  #expo-nav {
    position: fixed;
    top: 0px;
    width: 100%;
  }
  .expo-card {
    padding-top: 80px;
    height: 100%;
    text-align: center;
  }
  #backend-card, #frontend-card {
    @include background-image(image-url('grid2.png'), radial-gradient(10% 5%, lighten($text-white, 10), $text-white));
    padding-top: 10%;
    min-height: 750px;
    .loud {
      @include rotate3d(4, 9, 0, 10deg);
      font-size: 48px;
    }
  }
  #backend-card {
    .loud {
      @include text-shadow(rgba($background-black, 0.4) 25px 15px 10px);
      @include animation(animations-shadowshift 1s);
      @include animation-timing-function(ease-out);
      text-align: left;
    }
  }
  #frontend-card {
    .loud {
      @include text-shadow(rgba($background-black, 0.4) -25px 15px 10px);
      @include animation(animations-shadowshift-2 1s);
      @include animation-timing-function(ease-out);
      text-align: right;
    } 
  }
  #tagline-card {
    padding-top: 250px;
    padding-bottom: 250px;
    h3 {
      color: $text-white;
    }
  }
  #content-card {
    @include background-image(linear-gradient(bottom, $background-black, darken($text-white, 50)));
    padding-top: 250px;
    padding-bottom: 200px;
    h3 {
      text-align: right;
      color: $text-white;
    }
  }
}