@mixin templates-project {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  overflow: hidden;

  &.hide-nav {
    @include translateX(25%);
    #expose-scroll {
      display: block;
    }
  }
  #expose-scroller {
    position: fixed;
    display: none;
    top: 15px;
    right: 15px;
    i {
      @extend .fa-4x;
    }
  }
  .virtually-invisible {
    @include opacity(0);
  }
  .pushed { 
    padding-right: 0px;
  }
  .spaced-center {
    margin-top: 15%;
    padding-left: 20%;
  }
  .spaced-center:hover {
    .big-and-fancy {
      @include animation(animations-rotateflash 10s infinite);
      @include animation-delay(0.55s);
      @include opacity(1);
    }
    .cover-card {
      @include animation(animations-beat 0.75s infinite);
      @include animation-delay(0.55s);
    }
    .breakdown-card {
      @include animation(animations-rotateflash-1 10s infinite);
      @include animation-delay(0.55s);
      @include opacity(1);
    }
    .dropshadow {
      @include box-shadow(rgba($text-white, 0.8) 0 25px 25px, rgba($highlight-blue, 0.4) 0 20px 20px);
      @include opacity(1);
    }
    .electro-card {
      @include animation(animations-electropop 0.55s);
    }
  }
  .electro-card {
    position: absolute;
    top: 10%;
    left: 0;
    height: 45px;
  }
  .scatter-fixed {
  }
  .big-and-fancy {
    font-size: 32px;
    font-weight: bold;
    @include opacity(0.6);
  }
  .cover-card {
    &.ruby-card {
      @include background-image(image-url('ruby.png'));
      @include rotate(45deg);
      top: -50%;
      left: 15%;
    }
    &.javascript-card {
      @include background-image(image-url('coffeescript.png'));
      bottom: -55%;
      left: 20%; 
    }
    &.css-card {
      @include background-image(image-url('css.png'));
      @include rotate(5deg);
      top: 0;
      left: 50%; 
    }
    &.haskell-card {
      @include background-image(image-url('haskell.png'));
      top: -75%;
      left: 35%; 
    }
    @include opacity(0.6);
    width: 225px;
    height: 220px;
    background-size: 200px 195px;
    position: absolute;
    background-repeat: no-repeat;
  }
  .dropshadow {
    margin-left: 20px;
    margin-right: 20px;
    min-height: 5px;
  }
  
}