@mixin shared-footer {
  
  .laser-gun, .crystal-reflector {
    display: inline-block;
  }
  .laser-gun {
    float: right;
    margin-right: 10px;
  }
  .crystal-reflector {
    float: left;
    margin-left: 10px;
  }
  i {
    @extend .fa-3x;
    color: $text-flare;
  }
}