@import 'shared/variables';
@import 'shared/functions';
@import 'shared/main';
@import 'shared/footer';
@import 'shared/middler';
@import 'shared/common';
@import 'shared/body';
@import 'animations/electropop';
@import 'animations/ruby';
@import 'animations/beat';
@import 'animations/rotateflash';
@import 'animations/spintwirl';
@import 'animations/shadowshift';
@import 'animations/fading';
@import 'animations/shrinkglow';
@import 'animations/weakflip';
@import "animation/animate";

body {
  @include shared-common;
  @include shared-body;
}

main {
  @include shared-main;
}

.mid-left-fixed {
  position: fixed;
  left: 15px;
  top: 35%;
  i {
    @extend .fa-3x;
  }
  ul {
    list-style: none;
    padding-left: 5px;
  }
  li {
    padding-top: 15px;
    padding-bottom: 15px;

    a {
      color: $text-white;
      &.active {
        color: darken($highlight-orange, 10);
      }
    }
  }
}
  
.middler {
  display: none;
  @include shared-middler;  
}

.footer {
  display: none;
  @include shared-footer;
}